<div class="effeckt effeckt-demo-alerts group">

  <header>
    <h2>
      Alerts
      <a href="alerts.html">#</a>
    </h2>
  </header>


    <div class="effeckt-alert alert-success">
      <p>
        A <strong>slide-up</strong> message for a quick demo 
        <button class="effeckt-alert-close" data-effeckt-alert="slide-up">&times</button>
      </p>
    </div>

    <div class="effeckt-alert alert-info">
      <p>
        A <strong>slide-down</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus rutrum semper diam vel dignissim. Quisque quis neque non lorem posuere imperdiet. Cras varius lobortis eros, quis lacinia eros accumsan in. 
        <button class="effeckt-alert-close" data-effeckt-alert="slide-down">&times</button>
      </p>
    </div>

    <div class="effeckt-alert alert-warning">
      <p>
        A <strong>slide-in-left</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus rutrum semper diam vel dignissim. Quisque quis neque non lorem posuere imperdiet. Cras varius lobortis eros, quis lacinia eros accumsan in. 
        <button class="effeckt-alert-close" data-effeckt-alert="slide-in-left">&times</button>
      </p>
    </div>

    <div class="effeckt-alert alert-error">
      <p>
        A <strong>slide-in-right</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus rutrum semper diam vel dignissim. Quisque quis neque non lorem posuere imperdiet. Cras varius lobortis eros, quis lacinia eros accumsan in. 
        <button class="effeckt-alert-close" data-effeckt-alert="slide-in-right">&times</button>
      </p>
    </div>

    <div class="effeckt-alert testCase">
      <p>
        A <strong>Default</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus rutrum semper diam vel dignissim. Quisque quis neque non lorem posuere imperdiet. Cras varius lobortis eros, quis lacinia eros accumsan in. 
        <button class="effeckt-alert-close" >&times</button>
      </p>
    </div>    

</div>